// 變數
$title_color: #34dcce;
$bar_height: 4.5rem;
@mixin standard-font { font-size: 1.4rem; font-size: 14px;}
@mixin horizon-list { display: inline-block; float: left; }
@mixin circle-dime { margin: 10px 14px; width: 136px; height: 136px; }
@mixin mainelement { margin: 0 auto;  min-width: 760px; max-width: 1024px; width: 75%; }