/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 8, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 9, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 14, ../sass/style.scss */
html * {
  color: white;
  font-family: 'Open Sans', 'Apple Lihei Pro', '微軟正黑體';
  font-size: 1.4rem;
}
/* line 19, ../sass/style.scss */
html body {
  height: 100%;
}

/* line 24, ../sass/style.scss */
div.container {
  height: 100%;
}

/* line 26, ../sass/style.scss */
div.wrap {
  margin: 0 auto;
  width: 75%;
  max-width: 1024px;
  min-width: 760px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 75%;
  /*	height: 75%; */
}
/* line 33, ../sass/style.scss */
div.wrap #localtime {
  display: none;
}

/* line 37, ../sass/style.scss */
div.postscript {
  margin: 0 auto;
  width: 75%;
  max-width: 1024px;
  min-width: 760px;
  text-align: right;
}

/* line 45, ../sass/style.scss */
header ul li {
  display: inline-block;
  float: left;
}

/* line 53, ../sass/style.scss */
.zone_select ul li {
  width: 136px;
  height: 136px;
  margin: 10px 14px;
  display: inline-block;
  float: left;
}

/* line 63, ../sass/style.scss */
.form-wrapper {
  width: 450px;
}

/* line 63, ../sass/style.scss */
.form-wrapper {
  width: 450px;
}

/* Form text input */
/* line 71, ../sass/style.scss */
.form-wrapper input {
  width: 330px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
}
/* line 79, ../sass/style.scss */
.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/* line 84, ../sass/style.scss */
.form-wrapper input::-webkit-input-placeholder, .form-wrapper input:-moz-placeholder, .form-wrapper input:-ms-input-placeholder {
  color: #bbb;
  font-weight: normal;
}
/* line 89, ../sass/style.scss */
.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px / 40px "lucida sans", "trebuchet MS", "Tahoma";
  color: #fff;
  text-transform: uppercase;
  background: #408dd2;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
/* line 104, ../sass/style.scss */
.form-wrapper button:hover {
  background: #0c5da5;
}
/* line 107, ../sass/style.scss */
.form-wrapper button:active, .form-wrapper button:focus {
  background: #c42f2f;
  outline: 0;
}
/* line 111, ../sass/style.scss */
.form-wrapper button:before {
  /* left arrow */
  content: '';
  position: absolute;
  border-width: 0 7px 0 7px;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}
/* line 121, ../sass/style.scss */
.form-wrapper button:hover:before {
  border-right-color: #e54040;
}
/* line 124, ../sass/style.scss */
.form-wrapper button:focus:before, .form-wrapper button:active:before {
  border-right-color: #c42f2f;
}
/* line 127, ../sass/style.scss */
.form-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

/* line 140, ../sass/style.scss */
.popular_all {
  width: 100%;
}
/* line 143, ../sass/style.scss */
.popular_all tr {
  height: 24px;
}
/* line 144, ../sass/style.scss */
.popular_all tr th {
  width: 20%;
  border-bottom: 1px solid #888;
}
/* line 145, ../sass/style.scss */
.popular_all tr td {
  width: 20%;
  text-align: center;
}

/* line 158, ../sass/style.scss */
footer {
  color: #aaa;
}
