

.user_status{
  box-model: padding-box;
  
  font-family: Georgia;
  
  height: 35px;
  background-color: black;
  font-color: blue;
  opacity: 80%;
  
  border-radius: 15px 0px 15px 0px;
  padding: 15px 5px 5px 5px;
  
  margin-bottom: 10px;
  
}

#login_field{
  position: relative;
  left: 500px;
}

#what_eaten{
  position: relative;
  left: 20px;
  
}

.user_id{
  width: 100px;
  padding: 5px 3px 5px 3px;
  color:black;
  
}

.user_pw{
  width: 100px;
  padding: 5px 3px 5px 3px;
  color:black;
  
}


/* button{
   padding: 3px 3px 3px 3px;
   box-shadow: 2px 3px 2px #000;
   width: 80px;
   font-family: Georgia;
  
} */
/* .login_button{
  
  
} */


.login_button {
   font:bold 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-style:normal;
   color:#ffffff;
   background:#158edb;
   border:0px solid #ffffff;
   text-shadow:1px 0px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
   width: 80px;
  
   }
.login_button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.login_button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.login_button{
  
  background: #40d622;
  padding-bottom: 2px;
  
}

.buttonX {
   font:bold 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   font-style:normal;
   color:#ffffff;
   background:#158edb;
   border:0px solid #ffffff;
   text-shadow:1px 0px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
   width: 80px;
   display:inline-block;  
   text-decoration:none;
   text-align: center;
   height: 27px;
   padding-top: 1px;
   
   position: relative;
   left: 600px;
  
   }
.buttonX:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.buttonX:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }



.buttonX.logout{
  
  background: red;
}

